body {
    font-family: "Inter var", sans-serif;
    text-align: center;
    font-family: sans-serif;
    background-color: #e6f2ff;
}

.profile_card {
    margin: 10% auto 0px auto;
    box-shadow: 0px 0px 15px 0px gray;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    display: table;
}

.profile_image {
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.profile_image_span {
    position: relative;
    bottom: 0px;
    left: 0px;
}

.profile_image_div {
    text-align: center;
}

.circular_indicator {
    position: absolute;
    bottom: 13px;
    right: 13px;
    border-radius: 100px;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    background-color: #00cc43;
}

.profile_name {
    display: block;
    margin: auto;
    text-align: center;
}

.profile_description {
    line-height: 20px;
    color: #494949;
    width: 350px;
    margin: 15px auto 15px auto;
    text-align: center;
}

.profile_message_button {
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    display: block;
    margin: 40px auto 40px auto;
    background-color: #0080ff;
    border: none;
    border-radius: 10px;
}

.profile_message_button:hover {
    box-shadow: 0px 0px 10px lightgray;
}